@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Gabarito:wght@400..900&family=Holtwood+One+SC&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Gabarito:wght@400..900&family=Holtwood+One+SC&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Gabarito:wght@400..900&family=Holtwood+One+SC&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

h1 {
    font-family:"Gabarito";
    text-align: center;
    color: #333
}
table {
    width: 90%;
    margin:20px auto;
    border-collapse: collapse;
    font-family: "Holtwood One SC family";
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

th {
    font-family: "Gabarito";
    background-color: rgb(117, 175, 241);
    color: rgb(117, 38, 38);
    padding:10px;
    width: 10%;
    text-align: center;
    border-collapse: #333;
}

td {
    text-align: left;
    font-family: "Libre Baskerville" ;
    padding:20px;
    border:2px solid #807878;
}

tr:hover {
    background-color: rgb(0, 255, 255);
}
tbody tr:nth-child(odd) {
    background-color: aliceblue;
    text-align: center;
}

th img {
    align-items: center;
    width:60px;
    height:auto;
    border-radius: 10px;
}

span.item {
    color: rgb(109, 113, 150);
}

span.circle {
    list-style-type: circle;
}
